*.o
*.a
*.so
*.so.1
advio/deadlock
advio/mandatory
advio/mcopy2
advio/nonblockw
advio/rot13a
advio/rot13c2
advio/rot13c2.c
advio/xlate
pty
relation
environ
printer
sockets
intro
stdio
proc
ipc1
threads
standards
threadctl
db
signals
fileio
termios
ipc2
filedir
exercises
db/t4
threads/badexit2
threads/cleanup
threads/exitstatus
threads/threadid
strftime
